@use 'variaveis';

.hero {
    padding: 10vw;
    min-width: 1vh;
    max-height: 650px;
    background-image: url(../images/mind.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 640px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }
    }
}