.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px
}

.grid {
    display: grid;
    justify-content: center;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 12px;
    width: 200px;
    /* max-width: 400px; */
}

.gridResultado {
    margin-top: 56px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.resultado {
    background-color: var(--corPrincipal);
    text-align: center;
    font-weight: bold;
    padding: 32px 72px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 12px;
    width: 100%;
    font-size: 24px;
    height: 92.8px;
}