@use '../config/cores.scss';
@use 'sass:math';

@function dividir($porcentagem, $quantidade) {
    @return math.div($porcentagem, $quantidade);
}

@mixin product() {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, dividir(98%, 3));
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}


.products {
    @include product();
}

.product-item img {
    width: 100%;
    border-radius: 16px;
}

.product-button {
    display: block;
    background-color: cores.$corButton;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: cores.$corHover;
    }
}